
@{
    ViewBag.Title = "ForwardEmail";
    Layout = null;
}



<h2 class="email-open-header" data-ng-init="forwardit()">
    Forward Email

    <!--<a href="javascript:void(0);" rel="tooltip" data-placement="left" data-original-title="Print" class="txt-color-darken pull-right"><i class="fa fa-print"></i></a>-->

</h2>

<form onsubmit="ForwardEmail()" class="form-horizontal" id="email-compose-form">

    <div class="inbox-info-bar no-padding">
        <div class="row">
            <div class="form-group">
                <input type="hidden" ng-model="replytoid" />
                <label class="control-label col-md-1"><strong>To</strong></label>
                <div class="col-md-11">

                    <input class="form-control" name="EmailTo" id="EmailTo"  ng-required="true" value="" ng-model="recipient" placeholder="" type="text">
                    <input type="hidden"  name="EmailToId" id="EmailToId" value="@ViewBag.id" />
                    <!--<select multiple style="width:100%" class="select2" data-select-search="true">
        <option value="sunny.orlaf@smartadmin.com">sadi.orlaf@smartadmin.com</option>
        <option value="rachael.hawi@smartadmin.com">rachael.hawi@smartadmin.com</option>
        <option value="michael.safiel@smartadmin.com">michael.safiel@smartadmin.com</option>
        <option value="alex.jones@infowars.com">alex.jones@infowars.com</option>
        <option value="oruf.matalla@gmail.com">oruf.matalla@gmail.com</option>
        <option value="hr@smartadmin.com">hr@smartadmin.com</option>
        <option value="IT@smartadmin.com" selected="selected">IT@smartadmin.com</option>
    </select>-->
                    <!--<em><a href="javascript:void(0);" class="show-next" rel="tooltip" data-placement="bottom" data-original-title="Carbon Copy">CC</a></em>-->
                </div>
            </div>
        </div>
    </div>

    <div class="inbox-info-bar no-padding hidden">
        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-1"><strong>CC</strong></label>
                <div class="col-md-11">

                    <!--<select multiple style="width:100%" class="select2" data-select-search="true">
                        <option value="sunny.orlaf@smartadmin.com" selected="selected">sunny.orlaf@smartadmin.com</option>
                        <option value="rachael.hawi@smartadmin.com" selected="selected">rachael.hawi@smartadmin.com</option>
                        <option value="michael.safiel@smartadmin.com">michael.safiel@smartadmin.com</option>
                        <option value="alex.jones@infowars.com">alex.jones@infowars.com</option>
                        <option value="oruf.matalla@gmail.com">oruf.matalla@gmail.com</option>
                        <option value="hr@smartadmin.com">hr@smartadmin.com</option>
                        <option value="IT@smartadmin.com">IT@smartadmin.com</option>
                    </select>-->
                    <em><a href="javascript:void(0);" class="show-next" rel="tooltip" data-placement="bottom" data-original-title="Blind Carbon Copy">BCC</a></em>
                </div>
            </div>
        </div>
    </div>

    <div class="inbox-info-bar no-padding hidden">
        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-1"><strong>BCC</strong></label>
                <div class="col-md-11">
                    <!--<select multiple style="width:100%" class="select2" data-select-search="true">
                        <option value="sunny.orlaf@smartadmin.com">sunny.orlaf@smartadmin.com</option>
                        <option value="rachael.hawi@smartadmin.com">rachael.hawi@smartadmin.com</option>
                        <option value="michael.safiel@smartadmin.com">michael.safiel@smartadmin.com</option>
                        <option value="alex.jones@infowars.com">alex.jones@infowars.com</option>
                        <option value="oruf.matalla@gmail.com">oruf.matalla@gmail.com</option>
                        <option value="hr@smartadmin.com">hr@smartadmin.com</option>
                        <option value="IT@smartadmin.com">IT@smartadmin.com</option>
                    </select>-->
                </div>
            </div>
        </div>
    </div>

    <div class="inbox-info-bar no-padding">
        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-1"><strong>Subject</strong></label>
                <div class="col-md-11">
                    <input class="form-control" name="EmailSubject" id="EmailSubject" value="@ViewBag.subject" placeholder="Email Subject" type="text">
                    <!--<em><a href="javascript:void(0);" class="show-next" rel="tooltip" data-placement="bottom" data-original-title="Attachments"><i class="fa fa-paperclip fa-lg"></i></a></em>-->

                </div>
            </div>
        </div>
    </div>

    <div class="inbox-message no-padding">

        <div id="emailbody">
            @Html.Raw(ViewBag.Body)
        </div>
    </div>

    <div class="inbox-compose-footer">

      
        <button onclick="ForwardEmail()" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; &nbsp; Sending..." class="btn btn-primary pull-right" type="button" id="send">
            Send <i class="fa fa-arrow-circle-right fa-lg"></i>
        </button>


    </div>

</form>

<script>
    $('#emailbody').summernote({
        height: 250,
        focus: false,
        tabsize: 2
    });
</script>

<script>
    function ForwardEmail() {
        //var emailto = $("#EmailToId").val();
        //$("#EmailTo").val(emailto);
        var data = $("#email-compose-form").get(0);
        var formData = new FormData(data);

        $('#gif').css('visibility', 'visible');
        $.ajax({
            url: "/Mail/ForwardEmail", //you can get also action attribute from form using form.attr('action')
            type: 'POST',
            datatype: "html",
            contentType: false, // Not to set any content header
            processData: false,
            data: formData,
        }).done(function (result) {
            alert(result);
            $('#gif').css('visibility', 'hidden');
            RefreshInbox();
        });
    }
</script>